<!DOCTYPE html>

<html>

<head>

<title>Docker Versioning</title>

<style>

body{
background:#0F172A;
font-family:Arial;
color:white;
text-align:center;
padding-top:80px;
}

.card{
width:700px;
margin:auto;
background:#1E293B;
padding:40px;
border-radius:15px;
}

h1{
color:#06B6D4;
}

</style>

</head>

<body>

<div class="card">

<h1>Day 17</h1>

<h2>Docker Image Versioning</h2>

<p>Application Version</p>

<h3>{{ version }}</h3>

<p>Release Channel</p>

<h2>{{ channel }}</h2>

</div>

</body>

</html>
