<!DOCTYPE html>

<html>

<head>

<title>{{ app_name }}</title>

<style>

body{
background:#0f172a;
color:white;
font-family:Arial;
text-align:center;
padding-top:100px;
}

.card{
width:650px;
margin:auto;
background:#1e293b;
padding:40px;
border-radius:15px;
}

h1{
color:#f97316;
}

</style>

</head>

<body>

<div class="card">

<h1>{{ app_name }}</h1>

<h2>Day 09</h2>

<h3>Docker Registry</h3>

<p>Current Version</p>

<h2>{{ version }}</h2>

<p>Image Ready for Docker Hub</p>

</div>

</body>

</html>
