<!DOCTYPE html>
<html>
<head>
<title>{{ app_name }}</title>

<style>

body{
background:#111827;
font-family:Arial;
color:white;
text-align:center;
padding-top:80px;
}

.card{
background:#1F2937;
width:650px;
margin:auto;
padding:40px;
border-radius:15px;
}

h1{
color:#22c55e;
}

</style>

</head>

<body>

<div class="card">

<h1>{{ app_name }}</h1>

<h2>Day 06</h2>

<h3>Docker Multi-Stage Build</h3>

<p>Application Version : {{ version }}</p>

<p>Optimized Production Image</p>

</div>

</body>

</html>
