<!DOCTYPE html>

<html>

<head>

<title>Docker Networking</title>

<style>

body{
background:#0F172A;
color:white;
font-family:Arial;
text-align:center;
padding-top:100px;
}

.card{
width:650px;
margin:auto;
padding:40px;
background:#1E293B;
border-radius:15px;
}

h1{
color:#38BDF8;
}

</style>

</head>

<body>

<div class="card">

<h1>Docker Networking</h1>

<h2>Day 08</h2>

<p>Hostname</p>

<h3>{{ hostname }}</h3>

<p>Container communication using Docker Networks</p>

</div>

</body>

</html>
