<!DOCTYPE html>

<html>

<head>

<title>Nexus Repository</title>

<style>

body{
background:#111827;
font-family:Arial;
color:white;
text-align:center;
padding-top:80px;
}

.card{
width:700px;
margin:auto;
background:#1F2937;
padding:40px;
border-radius:15px;
}

h1{
color:#E11D48;
}

</style>

</head>

<body>

<div class="card">

<h1>Day 16</h1>

<h2>Nexus Repository Manager</h2>

<p>Repository</p>

<h3>{{ repository }}</h3>

<p>Artifact Version</p>

<h2>{{ version }}</h2>

</div>

</body>

</html>
