<!DOCTYPE html>

<html>

<head>

<title>Docker Volumes</title>

<style>

body{
background:#111827;
color:white;
font-family:Arial;
text-align:center;
padding-top:100px;
}

.card{
background:#1F2937;
width:650px;
margin:auto;
padding:40px;
border-radius:15px;
}

h1{
color:#22c55e;
}

</style>

</head>

<body>

<div class="card">

<h1>Docker Persistent Storage</h1>

<h2>Day 07</h2>

<h3>Total Visits</h3>

<h1>{{ visits }}</h1>

<p>Refresh the page and the counter keeps increasing.</p>

</div>

</body>

</html>
